.box{
    border-radius: 20px;
    border: 5px #00B4D8 solid;
    text-align: left;
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: max-content;
    cursor: pointer;
}
.text-box-container{
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 6px;
}
.text-box{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 23px;
    line-height: 125%;
    padding: 6px;
    margin: 6px;
    color: #03045E;
    width: 350px;
}
.text-box-subtitle{
    text-decoration: none;
    border-radius: 10px;
    border: 2.5px #00B4D8 solid; ;
}
.img-box{
    border-radius: 20px;
    box-shadow: 10px 5px 5px #90E0EF;
    padding: 6px;
    margin: 6px;
}
.container{ 
    display: flex;
    align-items: center;
    justify-content: center;
}