.text{
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 28px;
  color: #03045E;
  text-align: center;
}

.button-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}